@media (max-width: 767px) {
    .chart-container {
      width: 100%; /* Adjust the size as needed for mobile devices */
      height: 400px;
      margin: auto;  
    }

    .button-container {
      display: flex;
      margin-right: 180px;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 5px;
  }

  .cloud{
    position: relative;
    left: 180px;
    bottom: 49.8px;
  }
  
  button {
      margin: 5px;
  }


    .BUT{
      position: relative;
      top:50px;
      left:95px;
      
    }
  }


  @media (min-width: 767px)

  {
    .BUT
    {
       position: relative;  left:180px;top: 600px;font-size: 50px;
    }
    .button-container {
      display: flex;
      margin-right: 180px;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;
  }
  
  button {
      margin: 10px;
  }

  .chart-container {
    margin-left: 180px;
    margin-top: 50px;  
  }
    
  }
