<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Your App Title</title>
    <!-- Add any other meta tags, stylesheets, or scripts here -->
</head>
<body>
    <div>
        <!-- Main Content -->
        <div class="background-container">
            <div class="center-container">
                <div [ngClass]="{'pushed-aside': isSidebarOpen}" class="container" class="content">
                    <h1 class="TITLE">Live Monitor</h1>
                    <mat-accordion>
                        <mat-expansion-panel (opened)="panel1OpenState = true"
                        (closed)="panel1OpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Temperature
                                </mat-panel-title>
                                <mat-panel-description class="move">
                                    {{panel1OpenState ? 'hide' : 'show'}}
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <div  *ngIf="Temp === 'Loading...' || Temp === ''" > <mat-spinner [diameter]="30"> </mat-spinner> </div>
                            <div *ngIf="Temp !== 'Loading...' " > Body Temperature: {{Temp}} °C</div>
                        </mat-expansion-panel>
                        <mat-expansion-panel (opened)="panelOpenState = true"
                                            (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    HeartRate
                                </mat-panel-title>
                                <mat-panel-description class="move2">
                                {{panelOpenState ? 'hide' : 'show'}}
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <div  *ngIf=" OxyHeart==='' " > <mat-spinner [diameter]="30"> </mat-spinner> </div>
                            <div *ngIf=" OxyHeart!=='' " > Beep Per Minute: {{ OxyHeart?.heartRate }} bpm </div> 
                        </mat-expansion-panel>
                        <mat-expansion-panel (opened)="panel2OpenState = true"
                        (closed)="panel2OpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    BloodPressure
                                </mat-panel-title>
                                <mat-panel-description  class="move3">
                                {{panel2OpenState ? 'hide' : 'show'}}
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <div  *ngIf=" OxyHeart==='' " > <mat-spinner [diameter]="30"> </mat-spinner> </div>
                            <div *ngIf=" OxyHeart!=='' " > Oxygen Pressure {{ OxyHeart?.spo2 }} % </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
