.background-container {
    background: linear-gradient(rgba(255, 0, 0, 0.636) 100%, rgb(231, 5, 5) 100%), url("./THEME.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh; /* Set height to 100% of viewport height */
    position: relative;
  }
  
  .mat-sidenav-container {
    position: relative; /* Adjust position if necessary */
    width: 100%; /* Set width to 100% for mobile */
    height: auto; /* Set height to 'auto' for mobile */
    margin-bottom: 20px;
  }
  
  .center-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;    
  }
  
  .mat-expansion-panel-header {
    margin-bottom: 20px;
  }


  .mat-accordion
  {
    position: relative;
    top:20px;   
  }

  .content {
    width: 83%;
    height: 57%; /* Change to 'auto' for mobile */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.818);
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.6);
  }
  
  /* Title */
  .TITLE {
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    text-align: center; /* Center align the title for mobile */
    margin-top: 8px; /* Adjust margin as needed */
  }
  
  /* Margin and style adjustments for larger screens (e.g., tablets and above) */
  @media (min-width: 768px) {
    .content {
      width: 25%;
      height: 50.5%;
    }
  
    .TITLE {
      text-align: left; /* Adjust text alignment for larger screens */
      margin-left: 108px;
      margin-top: 0; /* Reset top margin for larger screens */
    }
   
    .mat-sidenav-container {
        position: absolute; /* Adjust position for larger screens */
        top: 0;
        bottom: 0;
        left: 0;
        width: auto; /* Reset width for larger screens */
        height: 100%; /* Reset height for larger screens */
        margin-bottom: 0; /* Reset margin for larger screens */
      } 
  }

  @media (max-width: 767px) {
    .pushed-aside {
      margin-left: 130px; /* Adjust the width based on your sidebar's width */
      transition: margin-left 0.3s ease-in-out; /* Add a smooth transition effect */
    }
    .move{
      margin-left: 45px;
   }
   .move2{
     margin-left: 60px;
   }
   .move3{
    margin-left: 30px;
  }
  }