<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Your App Title</title>
</head>
<body>
    <div>
        <div class="background-container">      
            <div > <button  mat-mini-fab color="primary"  *ngIf=" isPhoneScreen==true && !isAppInstalled " style="position:fixed;left:163px;top:20px; z-index:1000 ;"   (click)="installApp()"> <mat-icon>download</mat-icon> </button> </div>    
            <div class="center-container">           
                <div [ngClass]="{'pushed-aside': isSidebarOpen}" class="container" class="content">
                    <h1 class="TITLE">Live Monitor</h1>
                    
                    <mat-accordion>
                        <mat-expansion-panel (opened)="panel1OpenState = true"
                        (closed)="panel1OpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Temperature
                                </mat-panel-title>
                                <mat-panel-description class="move">
                                    {{panel1OpenState ? 'hide' : 'show'}}
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <div  *ngIf="Tempsocket === '' " > <mat-spinner [diameter]="30"> </mat-spinner> </div>
                            <div style="position: relative; bottom: 14px;" *ngIf="Tempsocket !== '' " > <div style="color: #ea1212;font-family: Georgia, 'Times New Roman', Times, serif;font-size: larger;" >  Body Temperature: {{Tempsocket?.bodytemperature}} °C </div> <br> <div style="color: rgb(90, 113, 213);font-family: Georgia, 'Times New Roman', Times, serif;font-size: larger;"> Room Temperature: {{Tempsocket?.roomtemperature}} °C </div>  </div>
                        </mat-expansion-panel>
                        <mat-expansion-panel (opened)="panelOpenState = true"
                                            (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    HeartRate
                                </mat-panel-title>
                                <mat-panel-description class="move2">
                                {{panelOpenState ? 'hide' : 'show'}}
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <div  *ngIf=" OxyHeart==='' " > <mat-spinner [diameter]="30"> </mat-spinner> </div>
                            <div *ngIf=" OxyHeart!=='' " > Beep Per Minute: {{ OxyHeart?.heartRate }} bpm </div> 
                        </mat-expansion-panel>
                        <mat-expansion-panel (opened)="panel2OpenState = true"
                        (closed)="panel2OpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    OxygenLevel
                                </mat-panel-title>
                                <mat-panel-description  class="move3">
                                {{panel2OpenState ? 'hide' : 'show'}}
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <div  *ngIf=" OxyHeart==='' " > <mat-spinner [diameter]="30"> </mat-spinner> </div>
                            <div class="phone" *ngIf=" OxyHeart!=='' " > OxygenLevel {{ OxyHeart?.spo2 }} % </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
