<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Your App Title</title>
    <!-- Add any other meta tags, stylesheets, or scripts here -->
</head>
<body>
    <div class="container">
    

        <!-- Main Content -->
        <div class="background-container">
            <div class="center-container">
                <div class="content">
                    <h1 class="TITLE"> Live Monitor </h1>
                    <mat-accordion>
                        <mat-expansion-panel (opened)="panel1OpenState = true"
                        (closed)="panel1OpenState = false" >
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Temperature
                                </mat-panel-title>
                                <mat-panel-description>
                                    {{panel1OpenState ? '  hide' : '  show'}}
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <p> Body Temperature: {{Temp}} °C </p>
                        </mat-expansion-panel>
                        <mat-expansion-panel (opened)="panelOpenState = true"
                                            (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Heart Rate
                                </mat-panel-title>
                                <mat-panel-description>
                                {{panelOpenState ? '  hide' : '  show'}}
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <p>Building In Progress</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel (opened)="panel2OpenState = true"
                        (closed)="panel2OpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Blood Pressure
                                </mat-panel-title>
                                <mat-panel-description>
                                {{panel2OpenState ? '  hide' : '  show'}}
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <p>Building In Progress</p>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
