<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
 <mat-sidenav-container class="tp-container">
                <mat-sidenav mode="side" [opened]="isOpen">
                <mat-nav-list>
                    <a mat-list-item routerLink="/home" routerLinkActive="active-link">Home</a>
                    <a mat-list-item routerLink="/fallData" routerLinkActive="active-link">FallChecker</a>
                    <a mat-list-item routerLink="/heart"routerLinkActive="active-link">Heart</a>
                    <a mat-list-item routerLink="/Plots"routerLinkActive="active-link">My ECG Plots</a>
                </mat-nav-list>
                </mat-sidenav>
                <mat-sidenav-content>
                    <button class="customcolor" style="position: fixed; top:0px;z-index: 2;" mat-icon color="primary"  (click)="toggleSidebar()">
                        <mat-icon>{{ isOpen ? 'menu_open' : 'menu' }}</mat-icon>
                    </button>
                <router-outlet></router-outlet>
                </mat-sidenav-content>
            </mat-sidenav-container>
      
